.statusMapcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nameAndLocation {
  display: flex;
  justify-content: space-evenly;
}

.statusUpdate {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: cornsilk;
  height: 10vh;
}

.map {
  display: flex;
}

.delStatusTrue {
  background-color: green;
  color: white;
}
