.userheader {
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  height: 50px;
  position: sticky;
  top: 0;
}

.usertitle {
  color: white;
  position: absolute;
  left: 40%;
}

.userhomeButton {
  height: 75%;
  margin-left: 2%;
  border: 0px;
  background-color: orange;
  display: flex;
  font-size: small;
}

.userhomeIcon {
  height: 100%;
  width: 100%;
  color: white;
}

.usernavigatorButtons {
  display: flex;
  height: 75%;
}

.userprofileButton {
  border: 0px;
  background-color: orange;
  width: 5vw;
}

.userprofileIcon {
  height: 100%;
  width: 100%;
  color: cornsilk;
}

.userprofileIcon:hover {
  color: darkgrey;
}

.usercartButton {
  border: 0px;
  background-color: orange;
  width: 5vw;
}

.usercartIcon {
  height: 100%;
  width: 100%;
  color: chartreuse;
}

.usercartIcon:hover {
  color: green;
}

.userlogOutButton {
  background-color: orange;
  border: none;
  color: red;
  width: 5vw;
}

.userlogOutIcon:hover {
  color: brown;
}

.userlogOutIcon {
  height: 100%;
  width: 100%;
}
