.userheader {
  /* border-bottom: solid 1px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--headerBg);
  height: 65px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.usertitle {
  color: white;
}

.userhomeButton {
  height: 75%;
  margin-left: 2%;
  border: 0px;
  background-color: var(--headerBg);
}

.userhomeIcon {
  height: 100%;
  width: 100%;
  color: white;
}

.useraddress {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  margin-left: 2%;
}

.usernavigatorButtons {
  display: flex;
  height: 80%;
  align-items: center;
}

.userprofileButton {
  border: 0px;
  background-color: var(--headerBg);
  height: 75%;
}

.userprofileIcon {
  height: 100%;
  width: 100%;
  color: white;
}

.userprofileIcon:hover {
  color: darkgrey;
}

.usercartButton {
  border: 0px;
  background-color: var(--headerBg);
  height: 75%;
}

.usercartIcon {
  height: 100%;
  width: 100%;
  color: white;
}

.usercartIcon:hover {
  color: green;
}

.userstatusButton {
  background-color: var(--headerBg);
  border: none;
  height: 75%;
}

.userstatusIcon {
  height: 100%;
  width: 100%;
  color: white;
}

.userstatusIcon:hover {
  color: black;
}

.userlogOutButton {
  background-color: var(--headerBg);
  border: none;
  color: white;
  height: 75%;
}

.userlogOutIcon {
  height: 100%;
  width: 100%;
}

.userlogOutIcon:hover {
  color: orangered;
}

.basicDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
