.userheader {
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  height: 50px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.usertitle {
  color: white;
}

.userhomeButton {
  height: 75%;
  margin-left: 2%;
  border: 0px;
  background-color: orange;
}

.userhomeIcon {
  height: 100%;
  width: 100%;
  color: white;
}

.usernavigatorButtons {
  display: flex;
  height: 100%;
  align-items: center;
}

.userprofileButton {
  border: 0px;
  background-color: orange;
  height: 75%;
}

.userprofileIcon {
  height: 100%;
  width: 100%;
  color: cornsilk;
}

.userprofileIcon:hover {
  color: darkgrey;
}

.usercartButton {
  border: 0px;
  background-color: orange;
  height: 75%;
}

.usercartIcon {
  height: 100%;
  width: 100%;
  color: chartreuse;
}

.usercartIcon:hover {
  color: green;
}

.userstatusButton {
  background-color: orange;
  border: none;
  height: 75%;
}

.userstatusIcon {
  height: 100%;
  width: 100%;
}

.userstatusIcon:hover {
  color: white;
}

.userlogOutButton {
  background-color: orange;
  border: none;
  color: red;
  height: 75%;
}

.userlogOutIcon {
  height: 100%;
  width: 100%;
}

.userlogOutIcon:hover {
  color: brown;
}

.basicDetails {
  display: flex;
  flex-direction: column;
}
