.restaurantsList {
  display: flex;
  margin: 5%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.restaurant {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  flex-basis: 25%;
  box-shadow: 0 0 2px black;
  margin-bottom: 5%;
  margin-right: 5px;
}

.restaurant:hover {
  box-shadow: 0 0 5px grey;
}

.restaurantImage {
  width: 50%;
}

@media (max-width: 768px) {
  .restaurantsList {
    display: block;
  }
  .restaurant {
    width: 80%;
    margin: auto;
    margin-bottom: 5%;
  }
}
