.restaurantsList {
  display: flex;
  margin: 5%;
  justify-content: space-between;
}

.restaurant {
  width: 20%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
  box-shadow: 0 0 2px black;
}

.restaurant:hover {
  box-shadow: 0 0 5px black;
}

.restaurantImage {
  width: 50%;
  height: 50%;
}
