.header {
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  height: 50px;
}

.home {
  height: 75%;
  margin-left: 2%;
  border: 0px;
  background-color: orange;
}

.homeIcon {
  height: 100%;
  width: 100%;
  color: white;
}

.logOut {
  background-color: orange;
  border: none;
  color: red;
  width: 10vw;
  height: 75%;
}

.logoutButton {
  height: 100%;
  width: 100%;
}
