.restheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
  height: 65px;
}

.resthome {
  height: 75%;
  margin-left: 2%;
  border: 0px;
  background-color: orange;
}

.resthomeIcon {
  height: 100%;
  width: 100%;
  color: white;
}

.restnavigatorButtons {
  display: flex;
  height: 80%;
  align-items: center;
}

.restcartButton {
  border: 0px;
  background-color: var(--headerBg);
  height: 75%;
}

.restcartIcon {
  height: 100%;
  width: 100%;
  color: white;
}

.restcartIcon:hover {
  color: green;
}

.restlogOutButton {
  border: 0px;
  background-color: var(--headerBg);
  height: 75%;
}

.restlogoutIcon {
  height: 100%;
  width: 100%;
  color: white;
}

.restlogoutIcon:hover {
  color: red;
}
