input {
  margin-bottom: 2%;
  border: none;
  font-size: medium;
  border-radius: 10px;
  padding: 10px;
  background-color: whitesmoke;
}

.details {
  display: flex;
  margin-bottom: 5%;
}

.container {
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px black;
  justify-content: space-between;
  padding: 3%;
}

.menuAdder {
  margin: auto;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 2px black;
  justify-content: space-between;
  padding: 2%;
}

.foodItem {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  padding: 5%;
  margin: 5%;
}

.menu {
  flex-basis: 25%;
  box-shadow: 0 0 2px black;
  padding: 3%;
  margin: auto;
  margin-top: 2%;
}

.coordinates {
  display: flex;
  flex-direction: column;
}

.menuAdderTitle {
  text-align: center;
  padding: 5%;
}

.photo {
  display: flex;
  flex-direction: column;
}

.foodPhoto {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.deleteItem {
  border: none;
  height: 5vh;
  font-size: medium;
  background-color: rgb(163, 19, 19);
  color: white;
}

.addItem {
  border: none;
  height: 5vh;
  font-size: medium;
  background-color: green;
  color: white;
}

.confirm {
  width: 100%;
  height: 50px;
  border: none;
  background-color: green;
  font-size: medium;
  color: white;
  margin-top: 5%;
  position: fixed;
  bottom: 0;
}

.mapForCoordinates {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.mapContent {
  background-color: #fefefe;
  margin: auto;
  padding: 50px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 85%;
}

.saveCoordinates {
  width: 100%;
  background-color: green;
  color: white;
  margin-top: 5px;
}

.closeMap {
  position: fixed;
  right: 10%;
  top: 3%;
  background-color: brown;
  color: white;
}

@media (max-width: 768px) {
  .details {
    display: block;
    margin: 5% 5% 15% 5%;
  }
}
