body {
  height: auto;
}

.tabs {
  margin: auto;
  margin-top: 5%;
  width: 40%;
  background-color: orange;
  border-radius: 20px;
}

.tablist {
  display: flex;
  justify-content: space-evenly;
}

.tab {
  width: 50%;
  list-style: none;
  text-align: center;
  margin-top: 5%;
  padding: 10px;
  margin-right: 7%;
  border-radius: 5px;
  cursor: pointer;
  border: solid wheat 1px;
}

.react-tabs__tab--selected {
  background-color: whitesmoke;
}

.react-tabs__tab--selected:focus {
  outline: solid grey 1px;
}

.loginForm {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  margin-bottom: 5%;
  border: none;
  font-size: medium;
  border-radius: 10px;
  padding: 10px;
  background-color: whitesmoke;
}

.submit {
  margin-bottom: 5%;
  border: none;
  font-size: medium;
  border-radius: 10px;
  padding: 10px;
  background-color: greenyellow;
  cursor: pointer;
}

@media (max-width: 768px) {
  .tabs {
    margin: 10%;
    width: 80%;
  }

  .loginForm {
    width: 80%;
  }
}
