.status {
  display: flex;
  justify-content: space-between;
  background-color: cornsilk;
  height: 10vh;
  width: 100%;
  margin-top: 1%;
}

.statusTrue {
  background-color: green;
  color: white;
}

.mapOrder {
  display: flex;
  margin: 1%;
}

.orderBox {
  width: 25%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px grey;
  justify-content: space-evenly;
  margin-left: 1%;
  background-color: rgb(235, 232, 232);
}

@media (max-width: 768px) {
  .mapOrder {
    display: block;
  }
  .orderBox {
    width: 95vw;
    margin: 1% 0 1% 0;
  }
}
